.App{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(0, 123, 255);
  margin: 1vmax;
  padding: 1vmax;
 
}
.image{
  height: 30px;
  width: 30px;
}
.chip{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(230, 229, 229);
  border-radius: 50px;
  padding: 0.5vmax;
  width: 18vmax;
  height: 2vmax;

  gap: 10px;
  margin-left: 1vmax;
}
.items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
 

}
input{
  border: none;
}
input:focus{
  outline: none;
}
.remove{
  margin-left: 1vmax;
  font-weight: bold;
  cursor: pointer;
 
}
.listitems{
  margin-left: 62vmax;

}
.listitemsComponent{
  display: flex;
  align-items: center;
  margin-bottom: 0.5vmax;
}

#em{
  margin-left: 3vmax;
  color: rgb(144, 144, 144);
}